.p-paid-question {
  background-color: $bg-light-green-color;
}

.p-contact-section1 {
  background-color: $bg-light-green-color;
}

.p-contact-form-section1 {
  background-color: $bg-light-green-color;
}

.p-contact-section2 {
  background-color: $green-color;
}

.p-contact-form-section2 {
  background-image: url("../img/bg_grid.gif");
  padding-top: 80px;
}